body,html {
    height: 100%;
}

body { 
    padding-top: 65px; 
}

.container {
    min-height:100%;
}

.container.footer { 
    min-height:0px;
    margin-bottom:-160px;
}

.img-circle {
    border-radius: 50%;
}

.container-sitehead {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* unvisited link */
a:link {
    color: #00baba;
    transition: color .6s ease-in;
}

/* visited link */
a:visited {
/*    color: #8950af; */
    color: #00baba;
    transition: color .6s ease-in;
}

/* mouse over link */
a:hover {
/*    color: ce84ff; */
    color: #d8b100;
    transition: color .2s ease-in;
    text-decoration: none;
}

/* selected link */
a:active {
    color: red;
}

.navbar > a {
    font-weight: normal;
}


.navbar-default .navbar-brand {
    color: #00baba;
}




.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    transition: all 0s;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    transition: all 0s;
}

.navbar-custom .navbar-brand{
    color: #00baba;
    transition: all 3s;
}

.navbar-custom .navbar-brand:hover {
    color: #ffd000;
    transition: color .5s ease-in;
    text-decoration: none;
}

.btn {
    border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    border: 0 none;
}
 
.btn-primary {
    background: #00abab;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #007f7f;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007f70;
    box-shadow: 10;
}

