body { 
    padding-top: 65px; 
}

/* unvisited link */
a:link {
    color: #00baba;
    transition: color .6s ease-in;
}

/* visited link */
a:visited {
/*    color: #8950af; */
    color: #00baba;
    transition: color .6s ease-in;
}

/* mouse over link */
a:hover {
/*    color: ce84ff; */
    color: #d8b100;
    transition: color .3s ease-in;
    text-decoration: none;
}

/* selected link */
a:active {
    color: red;
}

.navbar > a {
    font-weight: normal;
}


.navbar-default .navbar-brand {
    color: #00baba;
}




.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    transition: all 0s;
}

.navbar-custom .navbar-brand{
    color: #00baba;
    transition: all 0s;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    transition: all 0s;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    transition: all 0s;
}